*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}

.oculto{
    display:none;
}

.classBoton{
    background-color: #337ab7;
    color: #fff;
    font-size: 10vmin;
    height: 17.5vh;
    line-height: 17.5vh;
    text-align: center;
}


.sinIdeasClass{
    background-color: green;
    color: #fff;
    font-size: 10vmin;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.aunClass{
    position: relative;
    top: 0vh;
}

.formularioClass{
    background-color: green;
    height: 100vh;

}

.caja{
    border-style: solid;
    border-radius: 10px;
    width: 60vw;
    height: 60vh;
    margin: auto;
    position: relative;
    top:
}

#ideaform{

}